<div class="p">
    <form>
        <div class="ui fluid action input">
            <input type="text" placeholder="What do we need..." ng-model="shoppingList.newItem">
            <button class="ui teal right labeled icon button" ng-click="shoppingList.addItem()">
                <i class="add circle icon"></i>
                Add to List
            </button>
        </div>
    </form>

    <div class="ui blue segment p-" ng-repeat="item in shoppingList.items">
        <div class="right floated small ui red icon button" ng-click="shoppingList.removeItem(item)">
            <i class="remove icon"></i>
        </div>
        <div class="content aligned">
            <div class="header">{{ item.item }}</div>
        </div>
    </div>
</div>