.page-padding {padding-top: 40px;}
.full-width {width: 100% !important;}
.full-height {height: 100% !important;}

.horizontal.layout {
    display: flex;
    flex-direction: row;
}

.vertical.layout {
    display: flex;
    flex-direction: column;
}

.flex {
    flex: 1;
}

canvas {
    display: block;
}

.m0 {margin: 0 !important;}
.m\-\- {margin: 5px !important;}
.m\- {margin: 10px !important;}
.m {margin: 15px !important;}
.m\+ {margin: 20px !important;}
.m\+\+ {margin: 25px !important;}
.mt0 {margin-top: 0 !important;}
.mt\-\- {margin-top: 5px !important;}
.mt\- {margin-top: 10px !important;}
.mt {margin-top: 15px !important;}
.mt\+ {margin-top: 20px !important;}
.mt\+\+ {margin-top: 25px !important;}
.mb0 {margin-bottom: 0 !important;}
.mb\-\- {margin-bottom: 5px !important;}
.mb\- {margin-bottom: 10px !important;}
.mb {margin-bottom: 15px !important;}
.mb\+ {margin-bottom: 20px !important;}
.mb\+\+ {margin-bottom: 25px !important;}
.ml0 {margin-left: 0 !important;}
.ml\-\- {margin-left: 5px !important;}
.ml\- {margin-left: 10px !important;}
.ml {margin-left: 15px !important;}
.ml\+ {margin-left: 20px !important;}
.ml\+\+ {margin-left: 25px !important;}
.mr0 {margin-right: 0 !important;}
.mr\-\- {margin-right: 5px !important;}
.mr\- {margin-right: 10px !important;}
.mr {margin-right: 15px !important;}
.mr\+ {margin-right: 20px !important;}
.mr\+\+ {margin-right: 25px !important;}
.p0 {padding: 0 !important;}
.p\-\- {padding: 5px !important;}
.p\- {padding: 10px !important;}
.p {padding: 15px !important;}
.p\+ {padding: 20px !important;}
.p\+\+ {padding: 25px !important;}
.pt0 {padding-top: 0 !important;}
.pt\-\- {padding-top: 5px !important;}
.pt\- {padding-top: 10px !important;}
.pt {padding-top: 15px !important;}
.pt\+ {padding-top: 20px !important;}
.pt\+\+ {padding-top: 25px !important;}
.pb0 {padding-bottom: 0 !important;}
.pb\-\- {padding-bottom: 5px !important;}
.pb\- {padding-bottom: 10px !important;}
.pb {padding-bottom: 15px !important;}
.pb\+ {padding-bottom: 20px !important;}
.pb\+\+ {padding-bottom: 25px !important;}
.pl0 {padding-left: 0 !important;}
.pl\-\- {padding-left: 5px !important;}
.pl\- {padding-left: 10px !important;}
.pl {padding-left: 15px !important;}
.pl\+ {padding-left: 20px !important;}
.pl\+\+ {padding-left: 25px !important;}
.pr0 {padding-right: 0 !important;}
.pr\-\- {padding-right: 5px !important;}
.pr\- {padding-right: 10px !important;}
.pr {padding-right: 15px !important;}
.pr\+ {padding-right: 20px !important;}
.pr\+\+ {padding-right: 25px !important;}

.height-1 {height: 8.333%;}
.height-2 {height: 16.666%;}
.height-3 {height: 25%;}
.height-4 {height: 33.333%;}
.height-5 {height: 41.666%;}
.height-6 {height: 50%;}
.height-7 {height: 58.333%;}
.height-8 {height: 66.666%;}
.height-9 {height: 75%;}
.height-10 {height: 83.333%}
.height-11 {height: 91.666%;}

.width-1 {width: 8.333%;}
.width-2 {width: 16.666%;}
.width-3 {width: 25%;}
.width-4 {width: 33.333%;}
.width-5 {width: 41.666%;}
.width-6 {width: 50%;}
.width-7 {width: 58.333%;}
.width-8 {width: 66.666%;}
.width-9 {width: 75%;}
.width-10 {width: 83.333%}
.width-11 {width: 91.666%;}