.monty-hall {
  .door {
    height: 250px;
    width: 150px;
    background-color: #00aced;
    font-weight: bold;
    font-size: 60px;
    cursor: pointer;

    &.selected {
      box-shadow: orange 0 0 11px 5px;
    }

    &.open {
      background: url("images/montyHall/donkey.png") no-repeat center/cover;

      &.winner {
        background: url("images/montyHall/money.jpg") no-repeat center/cover;
      }
    }
  }
}