.monty-hall {
  .door {
    height: 250px;
    width: 175px;
    background-color: #00aced;
    font-weight: bold;
    font-size: 60px;
    cursor: pointer;

    &.selected {
      box-shadow: orange 0 0 11px 5px;
    }

    &.open {
      &:not(.winner) {
        background: url("images/montyHall/goat1.jpg") no-repeat center/cover;
      }

      &.winner {
        background: url("images/montyHall/money.jpg") no-repeat center/cover;
      }
    }
  }

  .test-output {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 30px;

    &.WIN {
      color: green;
    }
    &.LOSE {
      color: red;
    }
  }
}