<div class="monty-hall u-flexItemGrow u-flex u-flexColumn">
    <div class="u-flexItemNoShrink u-flex u-flexCentered mt+" ng-if="montyHall.state !== 'initial' && !montyHall.runningTest">
        <div class="ui button blue" ng-click="montyHall.reset()">Reset</div>
    </div>
    <div class="u-flexItemNoShrink u-flex u-flexCentered mt+" ng-if="montyHall.state == 'initial'">
        <div class="ui button blue" ng-click="montyHall.runTest(false)">Run 'Stay' Test</div>
        <div class="ui button blue" ng-click="montyHall.runTest(true)">Run 'Switch' Test</div>
    </div>

    <div class="u-flexItemNoShrink u-flex u-flexCentered mt++">
        <div class="door mh u-flex u-flexCentered u-flexMiddle" ng-click="montyHall.doorAction(1)"
             ng-class="{'open': montyHall.isDoorOpen(1), 'winner': montyHall.winningDoor == 1, 'selected': montyHall.selectedDoor == 1}">
            <div ng-hide="montyHall.isDoorOpen(1)">1</div>
        </div>
        <div class="door mh u-flex u-flexCentered u-flexMiddle" ng-click="montyHall.doorAction(2)"
             ng-class="{'open': montyHall.isDoorOpen(2), 'winner': montyHall.winningDoor === 2, 'selected': montyHall.selectedDoor == 2}">
            <div ng-hide="montyHall.isDoorOpen(2)">2</div>
        </div>
        <div class="door mh u-flex u-flexCentered u-flexMiddle" ng-click="montyHall.doorAction(3)"
             ng-class="{'open': montyHall.isDoorOpen(3), 'winner': montyHall.winningDoor == 3, 'selected': montyHall.selectedDoor == 3}">
            <div ng-hide="montyHall.isDoorOpen(3)">3</div>
        </div>
    </div>

    <div class="u-flexItemNoShrink" ng-if="!montyHall.runningTest">
        <div class="u-flex u-flexCentered mt" ng-if="montyHall.state == 'initial'">
            <div>Choose a door</div>
        </div>
        <div class="u-flex u-flexCentered mt+" ng-if="montyHall.state == 'openLoser'">
            <div class="ui button blue" ng-click="montyHall.openRandomLoser()">Open Loser Door</div>
        </div>
        <div class="u-flex u-flexCentered mt+" ng-if="montyHall.state == 'keepSwitch'">
            <div class="ui button blue" ng-click="montyHall.switch(false)">Stay</div>
            <div class="ui button blue" ng-click="montyHall.switch(true)">Switch</div>
        </div>
        <div class="u-flex u-flexCentered mt+" ng-if="montyHall.state == 'reveal'">
            <div class="ui button blue" ng-click="montyHall.finish()">Reveal</div>
        </div>
    </div>

    <div class="u-flexItemNoShrink u-flex u-flexCentered mt+" ng-if="montyHall.state == 'gameOver'">
        {{montyHall.finishText}}
    </div>
    <div class="u-flexItemNoShrink u-flex u-flexCentered mt+" ng-if="montyHall.state == 'testCompleted'">
        {{montyHall.testResult}}
    </div>
    <div class="test-output-container u-flexItemGrow mt+ u-overflowScroll-y">
        <span class="test-output" ng-repeat="result in montyHall.testOutputs track by $index" ng-class="result">{{result}}</span>
    </div>
</div>