<div class="full-width full-height vertical layout">
    <div class="full-width pv">
        <div class="ui button" ng-class="{blue: canvasTest.gravity, red: !canvasTest.gravity}" ng-click="canvasTest.toggleGravity()">
            Turn Gravity {{canvasTest.gravity ? 'Off' : 'On'}}
        </div>
        <div class="ui button" ng-class="{blue: canvasTest.collisions, red: !canvasTest.collisions}" ng-click="canvasTest.toggleCollisions()">
            Turn Collisions {{canvasTest.collisions ? 'Off' : 'On'}}
        </div>
    </div>
    <div class="canvas-wrapper full-width flex">
        <canvas id="canvas"></canvas>
    </div>
</div>
