<div class="ui page grid m0">
    <div class="sixteen wide column">
        <div class="ui segment">
            <div class="ui items">
                <div class="item">
                    <div class="ui small image">
                        <img src="images/unl.png">
                    </div>
                    <div class="content">
                        <div class="header">University of Nebraska</div>
                        <div class="meta">
                            <span>Lincoln, NE</span>
                        </div>
                        <div class="description">
                            <p>B.S. Computer Science</p>
                            <p>GPA: 3.96</p>
                            <p>August 2011 - May 2013</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui segment">
            <div class="ui items">
                <div class="item">
                    <div class="ui small image">
                        <img src="images/wsc.png">
                    </div>
                    <div class="content">
                        <div class="header">Wayne State College</div>
                        <div class="meta">
                            <span>Wayne, NE</span>
                        </div>
                        <div class="description">
                            <p>B.S. Applied Mathematics</p>
                            <p>Minor: Physics</p>
                            <p>GPA: 3.97</p>
                            <p>August 2005 - May 2009</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
