<div class="ui page grid m0">
    <div class="row">
        <div class="column">
            <h3 class="ui center aligned icon header m0">
                <i class="suitcase icon"></i>
                <div class="content">Employment</div>
            </h3>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui segment">
            <div class="ui items">
                <div class="item">
                    <div class="ui small image">
                        <img src="images/aviture.png">
                    </div>
                    <div class="content">
                        <div class="header">Software Engineer</div>
                        <div class="meta">
                            <span>Aviture - Omaha, NE <br/> July 2014 - Present</span>
                        </div>
                        <div class="description">
                            <p>stuff</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui segment">
            <div class="ui items">
                <div class="item">
                    <div class="ui small image">
                        <img src="images/lockheed.png">
                    </div>
                    <div class="content">
                        <div class="header">Software Engineer</div>
                        <div class="meta">
                            <span>Lockheed Martin - Papillion, NE <br/> June 2013 - July 2014</span>
                        </div>
                        <div class="description">
                            <p>stuff</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui segment">
            <div class="ui items">
                <div class="item">
                    <div class="ui small image">
                        <img src="images/nebraskaglobal.png">
                    </div>
                    <div class="content">
                        <div class="header">Software Engineer Intern</div>
                        <div class="meta">
                            <span>Nebraska Global - Lincoln, NE <br/> August 2012 - May 2013</span>
                        </div>
                        <div class="description">
                            <p>stuff</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui segment">
            <div class="ui items">
                <div class="item">
                    <div class="ui small image">
                        <img src="images/duncanaviation.png">
                    </div>
                    <div class="content">
                        <div class="header">Web Development Intern</div>
                        <div class="meta">
                            <span>Duncan Aviation - Lincoln, NE <br/> December 2011 - August 2012</span>
                        </div>
                        <div class="description">
                            <p>stuff</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h3 class="ui center aligned icon header m0">
                <i class="student icon"></i>
                <div class="content">Education</div>
            </h3>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui segment">
            <div class="ui items">
                <div class="item">
                    <div class="ui small image">
                        <img src="images/unl.png">
                    </div>
                    <div class="content">
                        <div class="header">University of Nebraska</div>
                        <div class="meta">
                            <span>Lincoln, NE <br/> August 2011 - May 2013</span>
                        </div>
                        <div class="description">
                            <p>B.S. Computer Science</p>
                            <p>GPA: 3.96</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui segment">
            <div class="ui items">
                <div class="item">
                    <div class="ui small image">
                        <img src="images/wsc.png">
                    </div>
                    <div class="content">
                        <div class="header">Wayne State College</div>
                        <div class="meta">
                            <span>Wayne, NE <br/> August 2005 - May 2009</span>
                        </div>
                        <div class="description">
                            <p>B.S. Applied Mathematics</p>
                            <p>Minor: Physics</p>
                            <p>GPA: 3.97</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
