<div class="ui vertical segment inverted center aligned">
    <div class="banner-padding">
        <h1 class="ui inverted header mb">
            Ryan Rasmussen
        </h1>

        <h3 class="m0">Software Engineer</h3>
        <h5 class="mt0 mb++">Omaha, Nebraska</h5>

        <div>
            <a class="ui huge linkedin button" href="http://www.linkedin.com/in/ryanrasmussen05" target="_blank">
                <i class="linkedin icon"></i>LinkedIn
            </a>
            <a class="ui huge button" href="https://github.com/ryanrasmussen05" target="_blank">
                <i class="github icon"></i>GitHub
            </a>
        </div>
    </div>
</div>

<div class="flex">
    <div class="ui text container mt++">
        <h2>About</h2>

        <div class="mb--">
            I am a full-stack web developer with experience in several client and server side technologies. I built
            this site using <strong>AngularJS</strong>, <strong>Semantic UI</strong>, <strong>Gulp</strong>, and <strong>Browserify</strong>
            as a way to stay up-to-date on the latest client-side technologies, and as a sandbox for learning about other
            web technologies.
        </div>
        <a class="ui button" href="#/resume">Resume</a>
    </div>

    <div class="ui container pt pb">
        <div class="ui divider"></div>
    </div>

    <div class="mt++">
        <sandbox-links></sandbox-links>
    </div>
</div>