<div class="u-flexItemGrow u-flex u-flexColumn">
    <div class="u-sizeFull darkGrey pb-- pt-- pl--">
        <div class="ui button" ng-class="{blue: canvasTest.gravity, red: !canvasTest.gravity}" ng-click="canvasTest.toggleGravity()">
            Turn Gravity {{canvasTest.gravity ? 'Off' : 'On'}}
        </div>
        <div class="ui button" ng-class="{blue: canvasTest.collisions, red: !canvasTest.collisions}" ng-click="canvasTest.toggleCollisions()">
            Turn Collisions {{canvasTest.collisions ? 'Off' : 'On'}}
        </div>
        <div class="ui selection dropdown">
            <div class="text">{{canvasTest.orbs + ' Orbs'}}</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item" data-value="10" data-text="10 Orbs">10</div>
                <div class="item" data-value="20" data-text="20 Orbs">20</div>
                <div class="item" data-value="30" data-text="30 Orbs">30</div>
                <div class="item" data-value="40" data-text="40 Orbs">40</div>
                <div class="item" data-value="50" data-text="50 Orbs">50</div>
            </div>
        </div>
    </div>
    <div class="canvas-wrapper u-flexItemGrow">
        <canvas id="canvas"></canvas>
    </div>
</div>
