<div class="ui container mt">
    <h2 class="ui center aligned huge block header">
        <div class="content">
            <i class="suitcase icon"></i>
            Employment
        </div>
    </h2>
    <div class="ui divided items">
        <div class="item" ng-repeat="job in resume.jobs">
            <div class="image">
                <img ng-src="{{ job.image }}">
            </div>
            <div class="content pt pb">
                <div>
                    <h3 class="ui header">{{ job.title }}</h3>
                </div>
                <div>
                    <strong>{{ job.company }}</strong>,
                    <span>{{ job.location }}</span>
                </div>
                <div>
                    <i>{{ job.start + ' - ' + job.end }}</i>
                </div>
                <div class="description ui bulleted list">
                    <div class="item" ng-repeat="bullet in job.bullets">
                        {{ bullet }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="ui center aligned huge block header">
        <div class="content">
            <i class="student icon"></i>
            Education
        </div>
    </h2>
    <div class="ui divided items">
        <div class="item" ng-repeat="school in resume.schools">
            <div class="image">
                <img ng-src="{{ school.image }}">
            </div>
            <div class="content pt pb">
                <h3 class="ui header">{{ school.degree }}</h3>
                <h3 class="ui header" ng-if="school.minor">, {{ school.minor }}</h3>
                <div class="mt">
                    <div class="ui small header">{{ school.name }}</div>
                </div>
                <div>
                    <span>{{ school.location }}</span>
                </div>
                <div class="description ui bulleted list">
                    <div class="item">
                        Graduated {{ school.gradDate }}
                    </div>
                    <div class="item">
                        GPA: {{ school.gpa }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>